/*--------------------------------
Schriftarten
---------------------------------*/

/* Titan One Regular */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TitanOne-Regular.ttf") format("truetype");
  font-family: "Titan One";
}

/* Mukta Regular */
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Mukta-Regular.ttf") format("truetype");
  font-family: "Mukta";
}

/* Mukta Bold */
@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Mukta-Bold.ttf") format("truetype");
  font-family: "Mukta";
}

/*--------------------------------
Definition des Standardlayouts
---------------------------------*/

body {
  background-color: #f5f9fc;
  padding-top: 40px;
  color: #2f2f2f;
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  line-height: 1.5;
  font-family: "Mukta", Verdana, "Trebuchet MS", Arial, sans-serif;
}

main {
  margin: 4vw 16vw;
}

section {
  margin: 4vw 0;
}

dd {
  margin-bottom: 2vw;
}

h1,
h2 {
  margin: 0.5em 0;
  color: #000033;
  font-weight: 400;
  font-family: "Titan One", Impact, "Arial Black", sans-serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  text-align: center;
}

h2 {
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

p,
a,
dl,
nav {
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  line-height: 2;
  font-family: "Mukta", Verdana, "Trebuchet MS", Arial, sans-serif;
}

p,
a,
dl {
  margin: 2em 0;
}

a {
  color: #002050;
  text-decoration: underline dotted #002050;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

a:hover {
  color: #000033;
  text-decoration: underline solid #000033;
  text-decoration-thickness: 2.5px;
}

/*--------------------------------
Navigation (Hauptnavgation, Footer
---------------------------------*/

/*Breadcrumb-Navigation*/
.breadcrumb ol {
  display: flex;
  gap: 0.5em;
  margin-right: -12vw;
  margin-left: -12vw;
  padding: 0;
  color: #002050;
  font-size: 0.85em;
  list-style: none;
}

.breadcrumb a {
  font-size: inherit;
}
.breadcrumb li + li::before {
  margin: 0.5em;
  content: ">";
  color: #002050;
  font-weight: 400;
}

/*Footer-Navigation (reiner Text, Seiten nicht implementiert)*/
footer {
  background-color: #000033;
  min-height: fit-content;
  color: #f5f9fc;
  text-align: center;
}

#footer-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 0;
  padding: 2vw 0;
  list-style: none;
}

/*Header-Navigation (teilweise reiner Text, nur Glossar-Tab implementiert)*/
header {

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  background-color: #000033;
  padding: 0 4vw;
  width: 100%;
  color: #f5f9fc;
}

.logo {
  display: block;
}

#main-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  padding: 0;
  list-style: none;
}

#main-menu a {
  border: #000033 solid 2rem;
  background-color: #f5f9fc;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

#main-menu a:hover {
  border-bottom: #002050 solid 2.5rem;
  color: #000033;
  text-decoration: underline solid #000033;
  text-decoration-thickness: 2.5px;
}
