<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/stylesheet.css" />
    <title>footer component</title>
  </head>
  <body>
    <footer>
      <nav id="footer-menu" aria-label="Fußzeilennavigation">
        <ul>
          <li>Impressum</li>
          <li>Datenschutz</li>
          <li>Interne Stellenangebote</li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
