<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header component</title>
  </head>
  <body>
    <header>
      <a href="/indexGlossar.html">x
        <img
          src="/images/logo.webp"
          alt="Logo der Webseite in Form der Zahl Sieben mit Augen"
          class="logo"
        />
      x</a>
      <nav id="main-menu" aria-label="Hauptnavigation">
        <ul>
          <li>News</li>
          <li>Projekte</li>
          <li>eQMS</li>
          <li><a href="/indexGlossar.html">Glossar</a></li>
          <li>IT-Helpdesk</li>
        </ul>
      </nav>
    </header>
  </body>
</html>
